[package]
name = "rust"
version = "0.1.0"
edition = "2021"
crate-type = ["cdylib"]

[lib]
name = "rust"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23", features = ["extension-module"] }
